.index-page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.index-page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}